Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
build/
/.vs
/out/

CMakeFiles
CMakeCache.txt
install_manifest.txt
cmake_install.cmake
Makefile

quake-simd
quake-simd.exe
ironwail
ironwail.exe
